alias etapp='cetrack; cd client; npm run tunnel'
alias etrebuild='cetrack; docker-compose -f docker-compose-dev.yml build'
alias etstart='cetrack; docker-compose -f docker-compose-dev.yml up -d'
alias etlogs='cetrack; tail -f logs/*.log'
alias etstop='cetrack; docker-compose -f docker-compose-dev.yml stop'
alias etreboot='cetrack; etstop; etrebuild; etstart'

alias dock_api='docker exec -it etrack-server-1 sh'